[Desktop Entry]
Type=Application
Name=Koplyx
Comment=Historique local chiffre du presse-papiers
Exec=koplyx
Icon=edit-paste-symbolic
Terminal=false
Categories=Utility;GTK;
StartupNotify=false
